.cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  color: black;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  margin: 50px;
  margin-bottom: 50px;
  padding: 30px;
  width: 200px;
  height: 300px;

}

.card > img {
  width: 200px;
}
